<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jomariel Gaitera">
    <meta name="description" content="Download videos from youtube in mp3 or mp4 format">
    <title>Youtube Downloader</title>
    <script>
      const NS = '<%= ns %>'
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6%2Ces2015" defer></script>
    <script src="/socket.io/socket.io.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io-stream/0.9.1/socket.io-stream.min.js" integrity="sha512-LTN7WQKvmCiOWbwxE4XRu3NCRqLzkFo28vBDHVhAyKjhmorNGjtvFxQgbvAttO31Ij6An4AIXU4GVaYOC0eNpQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script src="/js/app.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header class="bg-red-500 py-4 text-white font-poppins sticky top-0 shadow-sm z-50">
      <div class="container flex flex-col md:flex-row justify-between items-center">
        <a href="/" class="text-2xl mb-4 md:mb-0 font-bold">
          Youtube Downloader
        </a>
        <form id="form-search" class="flex items-center text-base text-slate-700 relative w-full md:w-80" data-onprogress="0">
          <input type="text" name="q" placeholder="Search" class="rounded-l-md px-4 py-2 w-[calc(100%-5rem)]">
          <button type="submit" name="submit-btn" class="px-4 py-2 bg-red-600 rounded-r-md text-white w-20" title="search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <div id="search-suggestion-list" class="hidden z-40 absolute w-full bg-white-100 shadow-md top-full mt-2 rounded-md overflow-hidden"></div>
        </form>
      </div>
    </header>
    <section id="page-initial" class="w-full h-full left-0 top-0 flex fixed items-center">
      <div class="container text-center">
        <div class="max-w-screen-sm mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" xml:space="preserve" y="0" x="0" id="Layer_1" version="1.1" viewBox="-57.15 -21.25 495.3 127.5"><style id="style7427" type="text/css">.st2{fill:#282828}</style><g id="g7433"><path id="path7429" d="M118.9 13.3c-1.4-5.2-5.5-9.3-10.7-10.7C98.7 0 60.7 0 60.7 0s-38 0-47.5 2.5C8.1 3.9 3.9 8.1 2.5 13.3 0 22.8 0 42.5 0 42.5s0 19.8 2.5 29.2C3.9 76.9 8 81 13.2 82.4 22.8 85 60.7 85 60.7 85s38 0 47.5-2.5c5.2-1.4 9.3-5.5 10.7-10.7 2.5-9.5 2.5-29.2 2.5-29.2s.1-19.8-2.5-29.3z" fill="red"/><path id="polygon7431" fill="#fff" d="M48.6 24.3v36.4l31.6-18.2z"/></g><g id="g7451"><g id="g7449"><path id="path7435" d="M176.3 77.4c-2.4-1.6-4.1-4.1-5.1-7.6-1-3.4-1.5-8-1.5-13.6v-7.7c0-5.7.6-10.3 1.7-13.8 1.2-3.5 3-6 5.4-7.6 2.5-1.6 5.7-2.4 9.7-2.4 3.9 0 7.1.8 9.5 2.4 2.4 1.6 4.1 4.2 5.2 7.6 1.1 3.4 1.7 8 1.7 13.8v7.7c0 5.7-.5 10.2-1.6 13.7-1.1 3.4-2.8 6-5.2 7.6-2.4 1.6-5.7 2.4-9.8 2.4-4.2-.1-7.6-.9-10-2.5zm13.5-8.4c.7-1.7 1-4.6 1-8.5V43.9c0-3.8-.3-6.6-1-8.4-.7-1.8-1.8-2.6-3.5-2.6-1.6 0-2.8.9-3.4 2.6-.7 1.8-1 4.6-1 8.4v16.6c0 3.9.3 6.8 1 8.5.6 1.7 1.8 2.6 3.5 2.6 1.6 0 2.7-.8 3.4-2.6z" class="st2"/><path id="path7437" d="M360.9 56.3V59c0 3.4.1 6 .3 7.7.2 1.7.6 3 1.3 3.7.6.8 1.6 1.2 3 1.2 1.8 0 3-.7 3.7-2.1.7-1.4 1-3.7 1.1-7l10.3.6c.1.5.1 1.1.1 1.9 0 4.9-1.3 8.6-4 11-2.7 2.4-6.5 3.6-11.4 3.6-5.9 0-10-1.9-12.4-5.6-2.4-3.7-3.6-9.4-3.6-17.2v-9.3c0-8 1.2-13.8 3.7-17.5 2.5-3.7 6.7-5.5 12.6-5.5 4.1 0 7.3.8 9.5 2.3 2.2 1.5 3.7 3.9 4.6 7 .9 3.2 1.3 7.6 1.3 13.2v9.1h-20.1zm1.5-22.4c-.6.8-1 2-1.2 3.7-.2 1.7-.3 4.3-.3 7.8v3.8h8.8v-3.8c0-3.4-.1-6-.3-7.8-.2-1.8-.7-3-1.3-3.7-.6-.7-1.6-1.1-2.8-1.1-1.4-.1-2.3.3-2.9 1.1z" class="st2"/><path id="path7439" d="M147.1 55.3L133.5 6h11.9l4.8 22.3c1.2 5.5 2.1 10.2 2.7 14.1h.3c.4-2.8 1.3-7.4 2.7-14l5-22.4h11.9L159 55.3v23.6h-11.8V55.3z" class="st2"/><path id="path7441" d="M241.6 25.7V79h-9.4l-1-6.5h-.3c-2.5 4.9-6.4 7.4-11.5 7.4-3.5 0-6.1-1.2-7.8-3.5-1.7-2.3-2.5-5.9-2.5-10.9V25.7h12v39.1c0 2.4.3 4.1.8 5.1s1.4 1.5 2.6 1.5c1 0 2-.3 3-1 1-.6 1.7-1.4 2.1-2.4V25.7z" class="st2"/><path id="path7443" d="M303.1 25.7V79h-9.4l-1-6.5h-.3c-2.5 4.9-6.4 7.4-11.5 7.4-3.5 0-6.1-1.2-7.8-3.5-1.7-2.3-2.5-5.9-2.5-10.9V25.7h12v39.1c0 2.4.3 4.1.8 5.1s1.4 1.5 2.6 1.5c1 0 2-.3 3-1 1-.6 1.7-1.4 2.1-2.4V25.7z" class="st2"/><path id="path7445" d="M274.2 15.7h-11.9v63.2h-11.7V15.7h-11.9V6h35.5z" class="st2"/><path id="path7447" d="M342.8 34.2c-.7-3.4-1.9-5.8-3.5-7.3s-3.9-2.3-6.7-2.3c-2.2 0-4.3.6-6.2 1.9-1.9 1.2-3.4 2.9-4.4 4.9h-.1V3.3h-11.6v75.6h9.9l1.2-5h.3c.9 1.8 2.3 3.2 4.2 4.3 1.9 1 3.9 1.6 6.2 1.6 4.1 0 7-1.9 8.9-5.6 1.9-3.7 2.9-9.6 2.9-17.5v-8.4c-.1-6.1-.4-10.8-1.1-14.1zm-11 21.7c0 3.9-.2 6.9-.5 9.1-.3 2.2-.9 3.8-1.6 4.7-.8.9-1.8 1.4-3 1.4-1 0-1.9-.2-2.7-.7-.8-.5-1.5-1.2-2-2.1V38.1c.4-1.4 1.1-2.6 2.1-3.6 1-.9 2.1-1.4 3.2-1.4 1.2 0 2.2.5 2.8 1.4.7 1 1.1 2.6 1.4 4.8.3 2.3.4 5.5.4 9.6v7z" class="st2"/></g></g></svg>
        </div>
        <h2 class="text-2xl text-red-500 font-poppins font-bold my-4">
          Downloader
        </h2>
        <p class="text-slate-500">
          Download your favorite videos from youtube into mp3 or mp4 format for free.
        </p>
        <p class="text-slate-400 text-sm fixed bottom-4 left-0 md:left-4">
          The creator of this software is not responsible for what its user does. Use at your own risk.
        </p>
      </div>
    </section>
    <section id="page-loading" class="w-full h-full left-0 top-0 fixed items-center hidden">
      <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgba(255, 255, 255, 0); display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
          <path fill="none" stroke="#ef4444" stroke-width="8" stroke-dasharray="42.76482137044271 42.76482137044271" d="M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z" stroke-linecap="round" style="transform:scale(0.8);transform-origin:50px 50px">
            <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0;256.58892822265625"></animate>
          </path>
        </svg>
        <p class="font-bold text-center text-red-500">
          Loading, please wait..
        </p>
      </div>
    </section>
    <section id="modal-download" class="w-full h-full fixed left-0 top-0 bg-black/20 z-50 items-center hidden">
      <div class="container max-w-screen-sm" data-content="notify">
        <div id="download-notify" class="mx-auto bg-white shadow-md rounded-md p-4">
          <h3 class="text-2xl font-bold text-red-500" id="download-notify-type">Downloading Audio</h3>
          <p class="bg-slate-100 p-4 rounded-md my-4 text-lg text-center text-slate-500 font-bold font-poppins" id="download-notify-title">
            title of the video
          </p>
          <div class="text-right">
            <button class="inline-block bg-blue-500 px-4 py-2 rounded-full text-white uppercase hover:bg-blue-600" data-action="modal-close">
              Okay
            </button>
          </div>
        </div>
      </div>
      <div class="container max-w-screen-sm" data-content="list">
        <div class="mx-auto bg-white shadow-md rounded-md p-4">
          <h3 class="text-2xl font-bold text-red-500">Downloads</h3>
          <div id="download-list" class="max-h-96 overflow-y-auto mt-4 flex flex-col gap-y-4"></div>
          <div class="text-right mt-4">
            <button class="inline-block bg-blue-500 px-4 py-2 rounded-full text-white uppercase hover:bg-blue-600" data-action="modal-close">
              Close
            </button>
          </div>
        </div>
      </div>
    </section>
    <main id="page-main" class="my-4">
      <div class="container grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4" id="result-container"></div>
    </main>
    <button type="button" title="goto top" id="goto-top" class="fixed transition-transform scale-0 w-16 h-16 shadow-md bottom-4 right-4 bg-red-500 rounded-full text-3xl text-white">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
    <button type="button" title="downloads" id="show-downloads" class="fixed transition-transform scale-0 w-16 h-16 shadow-md bottom-4 left-4 bg-blue-500 rounded-full text-3xl text-white">
      <i class="fa-solid fa-download"></i>
    </button>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  </body>
</html>
